
@import "file:///C:/Users/zhaokaige/Desktop/JSNote/JSMD/node_modules/vuepress-plugin-sass-palette/styles/default/palette.scss";
@import "file:///C:/Users/zhaokaige/Desktop/JSNote/JSMD/node_modules/vuepress-plugin-sass-palette/styles/empty.scss";
@import "file:///C:/Users/zhaokaige/Desktop/JSNote/JSMD/node_modules/vuepress-plugin-sass-palette/styles/empty.scss";
